.border-nav {
    border-bottom: 1px solid #E5E5E5;
}

.fuente-Nav {
    font-size: 1.5rem;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.tamaño-25 {
    font-size: 1.5rem;
    color: rgb(53, 196, 148);
}

#navbarScrollingDropdown::after {
    display: none;
}

.spinner-center {
    display: flex;
    align-items: center;
    justify-content: center;
}